body {
    margin: 0;
    padding: 0;
    background-color: #fae1dd;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.levitating-content {
    position: relative;
    transform: translateZ(0);
    animation: levitate 3s ease-in-out infinite;
    text-align: center;
    margin-top: 10px;
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.levitating-content p {
    background-color: #eae2b7;
    padding: 20px;
    margin: 0;
    border-radius: 25px;
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .levitating-content p {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}
