body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fae1dd;
    margin: 0;
}

.container {
    display: flex;
    align-items: flex-start; /* Align items to the start (left side) */
}

.tenor-gif-embed {
    margin-right: 20px; /* Add some space between the gif and buttons */
}

.newOptions {
    display: flex;
    flex-direction: column; /* Align buttons vertically */
}

button {
    background-color: #eae2b7;
    color: #003049;
    border: 2px solid #003049;
    border-radius: 10px;
    padding: 15px 30px; /* Increase padding for larger buttons */
    font-family: 'Brush Script MT', cursive;
    font-size: 20px; /* Increase font size for larger buttons */
    cursor: pointer;
    margin-bottom: 15px; /* Increase margin for more spacing between buttons */
}

button:hover {
    background-color: #003049;
    color: #eae2b7;
}